* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--color-text: #424242;
}
body{
    font-family: 'Instrument Sans', sans-serif;
    font-family: 'Noto Sans Symbols', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: var(--color-secondary-color);
}
/* utility */
.d-flex{
    display: flex;
}
.flex-space{
    justify-content: space-between;
}
.px{
    padding-left: 20px;
    padding-right: 20px;
}
.py{
    padding-top: 20px;
    padding-bottom: 20px;
}
.marginy{
    margin-top: 20px;
    margin-bottom: 20px;
}

.debug{
    border: 1px solid black;
}
.text-align{
    text-align: center;
}
.block{
    display:block;
}
.inblock{
    display: inline-block;
}
.justify-center{
    justify-content: center;
}

/* utility */
.logo{
    height: 40px;
}
.col{
    margin-top: 30px;
    background-color: var(--color-bg-card);
    border-radius: 30px;
    
}
img{
    width: 100%;
    display: block;
}
.line-height{
    line-height: 2em;
}
.col h3{
    color: var(--color-secondary-color);
    padding-bottom: 25px;
    padding-top: 30px;
    font-size: 1.8em;
}
.btn{
    background-color: var(--color-secondary-color);
    color: white;
    display: inline-block;
    border-radius: 30px;
    width: 100%;
    padding: 10px 25px 10px 25px;
    font-size: 1em;
}   
.icon{
    font-size: 5em;
    color: var(--color-secondary-color);
    padding: 10px;
}
section{
    margin-bottom: 40px;
}
.purple{
    background-color: var(--color-primary-color);
}

.planning{
    color: var(--color-light-color);
    line-height: 1.8em;
}
.planning h2{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5em;
}
.Appd{
    background-color: var(--color-light-color);
    border-radius: 30px;
}
.Appd h3{
    font-size: 2em;
    padding: 10px;
}
.round{
    background-color: var(--color-primary-color);
    display:inline-block;
    padding: 20px;
    margin-top: 20px;
    border-radius: 50%;
    
}
.partners h2{
    font-size: 2.5em;
    color: var(--color-primary-color);
}
.card1{
    background-color: var(--color-primary-color);
    border-radius: 30px;
    line-height: 1.6em;
    color: var(--color-light-color);
    font-size: 1.1em;
    margin-bottom: 30px;
}
.circle{
    width:150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    
}
.circle img{
    object-fit: cover;
    width: 100%;
    height:100%;
    
}
.cards1 h4{
    font-size: 1em;
}
.Benefits h2{
    color: var(--color-light-color);
    font-size: 2.5em;
    
}
.Benefits h3{
    font-size: 2.5em;
    margin-bottom: 30px;
    color: var(--color-primary-color);
}
.Benefits h4{
    font-size: 1.4em;
    color: var(--color-primary-color);
    margin-bottom: 25px;
}
.cards2{
    background-color: var(--color-light-color);
    border-radius: 40px;
    padding: 30px 10px 30px 30px;
    line-height: 1.5em;
    margin-bottom: 30px;
}
.c2btn{
    max-width: 200px;
    font-size: 1em;
    
}
.aboutus h2 {
    font-size: 2em;
    color: var(--color-primary-color);
    padding: 40px 0px;
    text-align: center;
}
.aboutus h3{
    color: var(--color-primary-color);
    font-size: 1.7em;
    padding: 10px;
}
.aboutus p{
    margin-bottom: 40px;
}
.aboutus img{
    width: 80%;
    border-radius: 50%;
}
.aboutus .btn{
    width:55%;
    font-size: 1em;
    padding: 10px;
}
.callaction h4{
    color: grey;
    font-size: 1.4em;
    font-weight: lighter;
    
}
.callaction h3{
    color: white;
    font-size: 2em;
    padding: 10px;
}
.callaction h2{
    color: rgb(136, 111, 31);
    font-size: 3em;
    padding: 40px;
}
.callaction p{
    color: white;
}
.callaction .btn{
    color: var(--color-primary-color);
    background-color: white;
}
footer{
    background-color: var(--color-dark-color);
    margin-top: -40px;
}
footer p{
    padding: 50px 20px;
    color: white;
}
/* mediaquery */
@media screen and (min-width: 576px) {
    .card-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .col{
        width: calc((100% / 3) - 20px);
        line-height: 1.7em; 
        font-size: 80%; 
               
        
    }
    .double{
        width: calc((100% / 3 ) * 2 );
    }
    .card1{
        display: flex;
    }
    
    .text-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.8em;
        text-align: left;
    }
    .Benefits-container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .cards2{
        width: calc((100% / 2) - 20px );
        
    }
    .aboutus{
        display: flex;
        gap: 30px;
    }
    .col-right{
        margin-top: 60px;
        width: 100%;
    }
    .aboutus .btn{
        width: 100%;
    }
    
}